<table class="spells table table-striped table-bordered table-white" id="spells-table" data-source="<%= spells_path(format: :json) %>">
  <thead>
  <th>ID</th>
  <th>Name</th>
  <th>Effect</th>
  </thead>
  <tbody>
  </tbody>
</table>