<footer class="footer">
  <small>
    <%= link_to "kRaidComp #{Settings.version.major}.#{Settings.version.minor}.#{Settings.version.revision}", root_path %>
    by <%= mail_to "gwyattkelsey@gmail.com", "GabeStah" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Spells", spells_path %></li>
    </ul>
  </nav>
</footer>